@model PlaylistViewModel
@{
    ViewData["Title"] = "Details";
}

@*@foreach (var item in Model.TrackList)
    {
    <div class="row">
        <p class="col-md-4 m-auto">@item.TrackTitle</p>
        <div id="player" class="col-md-4 offset-md-4">
            <div class="essential_audio" data-url="@item.TrackPreviewURL"><span class="no_js">Please activate JavaScript for the audio player.</span></div>
        </div>
    </div>
    }*@
<div id="formcontainer">
    <div class="row d-flex justify-content-center" id="customForm">
        <!--image-->
        <div class="col-sm-3">
            <img class="img-thumbnail" src="@(Model.FilePath)" alt="Artist" />
        </div>
        <!--player-->
        <div class="col-md-6 d-flex justify-content-center">
            <div class="col wrapper w-100 p-0">
                <ul class="col track-list">
                    @foreach (var item in Model.TrackList)
                    {
                        <li>
                            <div class="track-details"><span class="track-composer">@item.Artist.ArtistName</span> - <span class="track-title">@item.TrackTitle</span></div>

                            <div><audio src="@item.TrackPreviewURL" controls controlsList="nodownload"></audio></div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <!--details-->
        <div class="col justify-content-center text-center">
            <h1>@Model.Title</h1>
            <h3>@Model.GenreString</h3>
            <h3>@Model.Rank</h3>
            <h3>@Model.PlaytimeString</h3>
        </div>
    </div>
</div>

