@model FilteredPlaylistsViewModel
@*@inject UserManager<User> UserManager
    @inject SignInManager<User> SignInManager*@

@{
    ViewData["Title"] = "The playlists created by all our users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Playlists</h1>

@if (TempData["Msg"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Msg"].ToString();
    </div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container-about">
    <div class="container">
        <div class="page-header" id="about">
            <h2 class="text-center text-danger">Our playlists</h2>
            <br />
        </div>
        <div class="row">
            @foreach (var playlist in Model.Playlists)
            {
                <partial name="_PlaylistPartial" model="playlist" />
            }
        </div>
    </div>
</div>

@*<table id="table_id">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Number of tracks
            </th>
            <th>
                Total playtime
            </th>
            <th>
                Playlist rank
            </th>
            <th>
                Number of genres
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var playlist in Model.Playlists)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => playlist.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => playlist.TracksCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => playlist.PlaylistPlaytime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => playlist.Rank)
                </td>
                *<td>
                        @Html.DisplayFor(modelItem => playlist.FilePath)
                    </td>*
                <td>
                    @Html.DisplayFor(modelItem => playlist.GenresCount)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>*@
